/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Encabezado */
header {
    background: linear-gradient(90deg, #333, #666);
    color: white;
    padding: 1rem 0;
    text-align: center;
    animation: cambiarColor 5s infinite;
}

@keyframes cambiarColor {
    0% { background-color: #333; }
    50% { background-color: #555; }
    100% { background-color: #333; }

}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Secciones */
main {
    padding: 20px;
    background: #fff;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #333;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
}
